
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
    div{
        border: 5px solid;
        margin: 5px;
        padding: 5px;
        width: 25%;
        position: fixed;
    }

/* Here is one of many  CSS rules you will need... */
#three {
    border-color: orange;
    top: 20px;
    left: 10px;
}

#two {
    border-color: green;
    top: 20px;
    right: 10px;
}

#four {
    border-color: yellow;
    bottom: 20px;
    left: 10px;
}

#one {
    border-color: blue;
    bottom: 20px;
    right: 10px;
}

#link {
    font-family: "Roboto";
    background-color: #0a4b33;
    top: 10px;
    left: 50%;
    margin: 5px;
    padding: 5px;
    position: fixed;
    transform: translate(-50%, 0);

}
a {
    color: #ffffff;
    text-decoration: none;
}
